<header id="header" class="header d-flex align-items-center" style="height: fit-content;">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <h1>ASP<span>.</span></h1>
    </a>
    <button class="mobile-nav-toggle bi bi-list" (click)="toggleSidebar()"></button>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li class="dropdown"><a [routerLink]="['/products']" routerLinkActive="active"><span>Products</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a [routerLink]="['/caaqms']" (click)="set()">CAAQMS</a></li>
            <li><a [routerLink]="['/cems']" (click)="set()">CEMS</a></li>
            <li><a [routerLink]="['/eqms']" (click)="set()">EQMS</a></li>
            <li><a [routerLink]="['/port']" (click)="set()">Portable</a></li>
            <li><a [routerLink]="['/water']" (click)="set()">Water Quality</a></li>
            <li><a [routerLink]="['/analytical']" (click)="set()">Analytical Instruments</a></li>
            <li><a [routerLink]="['/gas']" (click)="set()">Gas Chromatography</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/services']" routerLinkActive="active">Services</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </nav>
    <div id="sidebar" class="sidebar" [ngClass]="{'active': sidebarActive}">
      <div class="sidebar-header">
        <button class="mobile-nav-toggle bi bi-x" (click)="toggleSidebar()"></button>
      </div>
      <ul>
        <li><a [routerLink]="['/home']" (click)="toggleSidebar()">Home</a></li>
        <li><a [routerLink]="['/products']" (click)="toggleSidebar()">Products</a></li>
        <li><a [routerLink]="['/services']" (click)="toggleSidebar()">Services</a></li>
        <li><a [routerLink]="['/contact']" (click)="toggleSidebar()">Contact Us</a></li>
        <!-- Add the rest of the links as needed -->
      </ul>
    </div>
  </div>
</header>
