<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>ASP</h3>
            <p><strong>Address</strong><br>
              106,1st Floor,Plot No. 31,Hanumanatha Reddy Complex,<br>
              Tadbund 'X' Road, Hyderabad - 500 009, INDIA.
              <br>
              <br>
              <strong>Mobile:</strong> +91 99218-66889<br>
              <strong>Telephone:</strong> +91 40-2772 1889<br>
              <strong>Email:</strong> support@aspinstruments.co.in<br>
            </p>
            <div class="social-links d-flex mt-3">
              <!-- <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a> -->
            </div>
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-4 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/product">Products</a></li>
            <li><a routerLink="/service">Services</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
            <!-- <li><a href="#">Privacy policy</a></li> -->
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-4 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a routerLink="/service">CAAQMS</a></li>
            <li><a routerLink="/service">CEMS</a></li>
            <li><a routerLink="/service">Data Uploading</a></li>
            <li><a routerLink="/service">EQMS</a></li>
            <!-- <li><a href="#">Graphic Design</a></li> -->
          </ul>
        </div><!-- End footer links column-->

        <!-- <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nobis illum</h4>
          <ul>
            <li><a href="#">Ipsam</a></li>
            <li><a href="#">Laudantium dolorum</a></li>
            <li><a href="#">Dinera</a></li>
            <li><a href="#">Trodelas</a></li>
            <li><a href="#">Flexo</a></li>
          </ul>
        </div> -->

      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        <strong><span>ASP</span></strong>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->
