<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>GAS Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="list-group " id="one">
                <ul class="portfolio-flters list-group" data-aos="fade-up" data-aos-delay="100">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-gas">GAS-1010 Ozone Analyzer</li>
                  <!-- <li data-filter=".filter-sga1">Portable Stack Gas Analyser - 4 Sensors</li> -->
                  <!-- <li data-filter=".filter-sga2">Laser Based Stack Gas Analysers</li> -->
                  <!-- <li data-filter=".filter-sga">Slip Gas Analyser - NH3, NOx, SO2</li> -->
                  <!-- <li data-filter=".filter-co">CO, CO2 and O2 Analyzer</li> -->
                  <!-- <li data-filter=".filter-NH3Analyzer">NH3 Analyzer</li>
                  <li data-filter=".filter-PM10Analyzer">PM10 Analyzer</li>
                  <li data-filter=".filter-PM25Analyzer">PM2.5 Analyzer</li> -->
      
                </ul><!-- End Projects Filters -->
              </div>
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
      
      
      
                <!-- <div class="col-md-9  portfolio-item filter-construction">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2024/1/377250757/FM/PL/RN/5167063/caaqms-mnt-envirotech.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>CAAQMS</h2>
                        <p>Detailed description of CAAQMS, including features, specifications, and any other relevant information.</p>
                      </div>
                    </div>
                  </div>
                </div> -->
      
      
                <div class="col-md-12  portfolio-item filter-gas">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/igas/GAS-1010-ProductPhotoMockUp-20230718.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>GAS-1010 Ozone Analyzer</h2>
                        <p>The GAS-1010 ozone (O3) analyzer by Met One Instruments Powered by Acoem delivers precise and reliable performance at an excellent value.<br>

                            It uses proven non-dispersive ultraviolet (UV) absorption technology to measure O3 in ambient air (LDL < 0.5 ppb, range 0 to 20 ppm).</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <!-- <div class="col-md-12  portfolio-item filter-Dustmonitor">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/imgcems/dust_monitor.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Dust monitor</h2>
                          <p>The laser beam passes across the stack or duct work and is reflected by the dust particles, the reflected light is then detected by the photoelectric sensor. The intensity of reflected laser signal is proportional to dust concentration, by which the resulting signal is analyzed to yield dust concentration.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> -->
      
                  <!-- <div class="col-md-9  portfolio-item filter-sga1">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-016.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Portable Stack Gas Analyser - 4 Sensors</h2>
                          <p>The IMR 1400CP is a portable Flue Gas Analyzer for commercial and industrial applications. The rugged combustion analyzer can be equipped with up to 4 sensors. Its basic unit has an O2 (Oxygen) and a CO (Carbon Monoxide) sensor. The other two sensors are customer select-able as well as the measuring ranges. The IMR 1400CP measures and calculates all the needed parameters to perform a thorough combustion test.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                <!-- <div class="col-md-12  portfolio-item filter-sga2">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>Laser Based Stack Gas Analysers</h2>
                        <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div> -->
      
      
                <!-- <div class="col-md-12  portfolio-item filter-sga">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/imgcems/product-cems-023.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Slip Gas Analyser (SCR / SNCR) - NH3, NOx, SO2</h2>
                          <p>Multi gas analyzer which measures NOx, SO2, NH3 by UV DOAS (UV absorption) measuring principle, which features almost no interference by moisture and particles. Best suited for process monitoring such as SCR/FGD, and also applicable for CEMS.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> -->
      
      
<!--       
                  <div class="col-md-12  portfolio-item filter-co">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/imgcems/product-cems-003.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>CO, CO2 and O2 Analyzer</h2>
                          <p>Online NDIR Flue Gas Analyzer with simultaneous and continuous measurement of the concentration of CO, CO2, O2 gases having excellent prolonged stability, compact size and simple operation.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div> -->
      
      
      
                  <!-- <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->