.portfolio-flters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio-flters li {
    margin-bottom: 10px;
  }


  #one, #two {
    display: inline-block;
    vertical-align: top;
  }
  
  #one {
    width: 20%; 
  }
  
  #two {
    width: 80%;
  }

  
  