<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portable Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="col-md-1">
                <table class="table portfolio-flters table-bordered">
                  <thead>
                    <tr>
                      <th><li data-filter="*" class="filter-active">All</li></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><li data-filter=".filter-ftir">Portable FTIR Stack Gas & Emission Analyser</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-toc">Portable TOC / THC & NMHC Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-ndir">Portable NDIR Stack Gas Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-sga4">Portable Stack Gas Analyser - 4 Sensors</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-sga8">Portable Stack Gas Analyser - 8 Sensors</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-pisa">Portable Infrared Syngas Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-pnga">Portable Natural Gas Analyser</li></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
      
      
      
              
      
                <div class="col-md-12  portfolio-item filter-ftir">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/port/product-cems-009.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Portable FTIR Stack Gas & Emission Analyser</h3>
                        <p>GT6000 Mobilis is the new frontier of portable emissions monitoring. The analyzer is specifically designed for those who aim high. It enables you to concentrate on the task at hand, without interferences from hard to use, time-consuming and unreliable tools. Sounds good, right? Do you need extreme portability, robustness and want to save time? Or reliable instrument, powerful analysis tools and rapid response times? GT6000 Mobilis provides this all and more.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-toc">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/port/product-cems-014.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable TOC / THC & NMHC Analyzer</h3>
                          <p>The Nutech 3000 TOC (Total Organic Carbons) / THC (Total Hydrocarbons) & NMHC (Non-Methane Hydrocarbons) Analyzer is suitable for portable monitoring of TVOC (Total Volatile Organic Compounds), CH4 (Methane) and NMHC in stationary source emission and fence line.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12  portfolio-item filter-ndir">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/port/product-cems-015.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable NDIR Stack Gas Analyzer</h3>
                          <p>It is portable type and used to measure concentration of SO2, NO, CO, CO2 and O2 from stack or boiler emission gases, in which SO2, NO, CO and CO2 are measured by micro-flow infrared sensors and O2 by electrochemical sensor, with optional gas temperature, pressure, velocity etc, calculating combustion efficiency, lambda, etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
                <div class="col-md-12  portfolio-item filter-sga4">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/port/product-cems-016.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Portable Stack Gas Analyser - 4 Sensors</h3>
                        <p>The IMR 1400CP is a portable Flue Gas Analyzer for commercial and industrial applications. The rugged combustion analyzer can be equipped with up to 4 sensors. Its basic unit has an O2 (Oxygen) and a CO (Carbon Monoxide) sensor. The other two sensors are customer select-able as well as the measuring ranges. The IMR 1400CP measures and calculates all the needed parameters to perform a thorough combustion test.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                <div class="col-md-12  portfolio-item filter-sga8">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/port/caaqms-systems-017.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable Stack Gas Analyser - 8 Sensors</h3>
                          <p>The IMR 2800P is a portable Flue Gas Analyzer for industrial applications. The rugged combustion analyzer can be equipped with up to 8 sensors. Its basic unit has an O2 Oxygen sensor , a CO Carbon Monoxide sensor, a NO Nitric Oxide sensor and a SO2 Sulfur Dioxide Sensor. The other sensors are customer select-able as well as the measuring ranges. The IMR 2800P measures and calculates all the needed parameters to perform a thorough emission test.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-12  portfolio-item filter-pisa">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/eqms/product-eqms-006-a.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable Infrared Syngas Analyzer</h3>
                          <p>Syngas (synthesis gas), which is also called as coal gas or producer gas, is a kind of combustible gas mixture of nitrogen, carbon monoxide, and hydrogen, mainly generated by passing air with steam over burning coke or coal in a gasifier and used as fuel for different industries like steel making, cement, power plant, and other high fuel consumption industries.<br>

                            Portable Infrared Syngas Analyzer has small size, high accuracy, short response time, simple operation, rechargeable lithium battery power supply system. It is an ideal measurement solution for direct sampling from pipe at industrial site and gas-bag sampling analysis in laboratory, etc. <br>
                            
                            It can be used for measurement of the concentration of up to 8 gases such as CO, CO2, h3, O2, CH4, CnHm, C2h3 and C2H4 simultaneously, and calculate the gas heating value (caloric value) and N2 balance automatically. It is the best tool to help you:</p>
                            <li>To check whether the gas is still being produced to decide the feedstock cycle and the best ratio.            </li>
                            <li>To check the quality of the gas being produced prior to use in some industrial process.                    </li>
                            <li>To check the quality of the gas and optimize the gasification technical process.                            </li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-9  portfolio-item filter-pnga">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/port/product-cems-032.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable Natural Gas Analyser</h3>
                          <p>It is a portable type analyzer that can be used to know natural gas composition and heating value in real time. Special developed CH4 sensor can give accurate CH4 reading without cross-sensitivity to other hydrocarbon content. Unique CnHm sensor calibrated with C3H8 can detect the hydrocarbon besides CH4 and show the weighted value of total C2+ hydrocarbon in natural gas.<br>
                            <br>

                            Standard configuration: CH4+CnHm+CO2+ Calorific Value + Wobbe Index(optional)</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                 <!--  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Laser Based Stack Gas Analysers</h3>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Laser Based Stack Gas Analysers</h3>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->