<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/process/jlp104.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>GAS Chromatograph Process Products</li>
        </ol>
  
      </div>
    </div> -->
    <!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="col-md-1">
                <table class="table portfolio-flters table-bordered">
                  <thead>
                    <tr>
                      <th><li data-filter="*" class="filter-active" style="font-size: small; ">Process</li></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><li data-filter=".filter-rcm"style="font-size: small; ">JLP-104 Residual Component Measurement System for LP Gas </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-fag"style="font-size: small;">AG-2 Fully Automatic Gas Chromatograph </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-cag"style="font-size: small;">RCG-1 Compact Automatic Gas Chromatograph  Series</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tsm"style="font-size: small;">GTS-201 Total Sulfur Measurement System  Series</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-dga"style="font-size: small;">GC220 Digestive Gas Analyzer </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-lpg"style="font-size: small;">GC205 LPG Analyzer </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-afg"style="font-size: small;">GC2011 PLUS Automated Fuel Gas Analysis System </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-vgs"style="font-size: small;">Vegetable Growing System</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-mc"style="font-size: small;">CH4-203 Methane Converter </li></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200"> 
      
                <div class="col-md-12  portfolio-item filter-rcm">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/process/jlp104.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div style="text-align:justify;  padding-right: 2%;">
                        <h4>JLP-104 Residual component measurement system for LP gas </h4>
                        <p>This measurement system employs a new measurement method, the GC method (vaporization concentration method), for measuring residual components, which are important in the quality control of LP gas. Problems with the conventional standard, the evaporation residue test method, such as the length of time required for measurement, the large consumption of samples, the level of operator proficiency, and safety measures, have been improved, allowing measurements to be performed quickly, simply, accurately, and safely.</p>
                           <li>Hydrocarbon components (total amount in the range of C10 to C40) can be analyzed at the ppm (mg/kg) level.
                        </li>
                        <li>  Simple operation with automation other than opening and closing the container when introducing samples
                        </li>
                        <li>    The entire analysis process (from the start of analysis to the next analysis being possible) takes approximately 1 hour.
                        </li>
                        <li>     Sample consumption per analysis is 10-20g
                        </li>
                        <li>    Residue concentration can be calculated immediately from analysis results using PC-type data processing.
                        </li>
                        <li>Composition analysis is also possible when combined with CGC-001</li>
                        <li>Measurement method based on the Japan LP Gas Association standard "Gas Chromatography Method (Vaporization Concentration Method)" (to be standardized in March 2022)</li>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-fag">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/ag2_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align:justify;  padding-right: 2%;">
                          <h4>AG-2 Fully automatic gas chromatograph </h4>
                          <p>In response to the need for automation of gas chromatography, this is a full-fledged automatic gas chromatograph that eliminates the complicated operation and large installation space required when automating laboratory gas chromatography. It can be widely used as a device that can meet new needs such as high-speed analysis, simultaneous multi-component analysis by installing multiple detectors, and composition analysis of wet sample gas.</p>

                            <li><strong>Up to three detectors and four column systems can be installed simultaneously!</strong></li>
                                <p>It is possible to perform all-component analysis of a wide variety of sample gas compositions, including inorganic gases and organic substances, and one auto gas chromatograph can perform the analysis that was previously performed with two or three laboratory gas chromatographs. Up to three detectors, such as TCD, FID, FPD, etc., can be built in, and it can also be connected to an external trace reducing gas detector (TRD), allowing a wide range of analysis of various components from low to high concentrations.
                                    Up to five column systems can be incorporated, and by making full use of column techniques such as the pre-cut method, foreflush method, and heart-cut method, it is possible to perform analyses that were previously difficult.</p>

                            <li><strong>Supports trace analysis from ppb level to sub-ppm level!</strong></li>
                                <p>A methane converter can be built in, and in combination with an FID , it is possible to analyze CO and CO2 at sub-ppm levels in addition to hydrocarbons, while the use of a TRD enables analysis of h4 and CO at ppb levels .</p>

                            <li><strong>Ideal for gas analysis in wet conditions with a large amount of moisture!</strong></li>
                            <p>The thermostatic sampling unit allows gas composition analysis in a wet state without condensing condensable components, allowing you to obtain the information you truly want.</p>
                            
                            
                            

                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12  portfolio-item filter-cag">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/rcg1_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div >
                          <h4>RCG-1 series Compact automatic gas chromatograph </h4>
                          <p style="text-align:justify;  padding-right: 2%;">This is a compact automatic gas chromatograph equipped with a detector and auto-sampling and pre-cut backflush mechanisms as standard, which can be mounted on a 19-inch rack.</p>
                          <li style="text-align:justify;  padding-right: 2%;">Multi-component measurement is also possible by adding a data processing device.</li>
                          <li style="text-align:justify;  padding-right: 2%;">It is also compatible with built-in sample preparation equipment.</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
                <div class="col-md-12  portfolio-item filter-tsm">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/process/gts_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div style="text-align:justify;  padding-right: 2%;">
                        <h4>GTS-201 Series Total Sulfur Measurement System                         </h4>
                        
                           <p>The total sulfur content in various gases such as carbon dioxide, nitrogen, hydrogen, helium, and argon can be measured down to the ppb level.</p>
                            <li>All sulfur components are converted to hydrogen sulfide and can be analyzed as total sulfur in a short time.</li>
                            <li>All processes from reduction to GC measurement can be automatically and continuously analyzed.</li>
                            <li>Concentration allows for trace measurement at the ppb level</li>
                            <li>Peltier cooling for concentration is maintenance-free</li>
                            <li>The measurement results are displayed in a table using a PC-type data processing device (optional).</li>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                <div class="col-md-12  portfolio-item filter-dga">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/gc220_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align:justify;  padding-right: 2%;">
                          <h4>GC220 Digestive Gas Analyzer                         </h4>
                          <p>Digestion Gas Analyzer GC220One

                            of the methods used in sewage treatment plants to treat sewage sludge is to use the action of bacteria to decompose organic matter, which is then converted into digester gas, the main components of which are methane and carbon dioxide. Digestion gas can be reused as fuel, making it an effective resource recovery method. Monitoring the composition of digester gas and the amount of gas produced is an important indicator for understanding the digestion status of sludge.
                            
                            </p>
                            <li>It is possible to measure O2, CO, CO2, N2, and CH4 in digester gas.</li>
                            <li>Analysis of O2, N2, CH4, CO, and CO2, which normally require two analyses, can be performed simultaneously with a single sampling.</li>
                            <li>Anyone can easily operate it by simply turning on the power.</li>
                            
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      

                  <div class="col-md-12  portfolio-item filter-lpg">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/gc205_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align:justify;  padding-right: 2%;">
                          <h4>GC205 LPG Analyzer </h4>
                          <p>In the case of liquefied gas analysis using the GC205 LPG analyzer

                            , the component ratios of the gas phase and liquid phase are different, so in order to know the correct composition, it is necessary to sample and analyze the liquid phase. With this system, the liquid phase is sampled using a liquid sampling device, vaporized, and then a fixed amount is measured using a sampling valve and analyzed by a gas chromatograph.</p>
                            <li>Since the measurement method complies with JIS, no standard gas is required.</li>
                            <li>The small and lightweight sampling device can be carried and used anywhere.</li>
                            <li>High-precision measurements are possible using a high-performance gas chromatograph.</li>
                            <li>It's easy to operate and anyone can use it.</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div> 

       
      
                  <div class="col-md-12  portfolio-item filter-afg">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/gc2011plus_p.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align:justify;  padding-right: 2%;">
                          <h4>GC2011 PLUS Automated Fuel Gas Analysis System </h4>
                          <p>Automatic fuel gas analyzer conforming to JIS K2301-2022</p>
                          <li><strong>component</strong></li>
                            <li>
                                Capable of analyzing 18 components from H 2 to C 6 up</li>
                                <li><strong>Analysis time</strong></li>
                            <li>Analysis of h4 to C5 can be performed in just 15 minutes</li>
                            <li><strong>operation</strong></li>
                            <li>An automated system that eliminates the need for bothersome operations</li>
                            <li><strong>Output Format</strong></li>
                            <li>Analysis results are printed out in a specified format (compliant with the Gas Business Act format)</li>
                            <li><strong>Carrier Gas</strong></li>
                            <li>Analysis using hydrogen carrier gas is also possible</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>


                  


                  <div class="col-md-12  portfolio-item filter-vgs">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/vege_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align:justify;  padding-right: 2%;">
                          <h4>Vegetable Growing System</h4>
                          <p>This system measures the gases necessary for vegetable growth and adjusts and manages the optimum concentration.</p>
                          <li><strong>"Vegetable growing system" using gas concentration management</strong></li>
                            <li>This system measures the concentrations of ethylene (C 2 H 4 ), carbon dioxide (CO 2 ), oxygen (O 2 ), etc. contained in the air in multiple "vegetable cultivation rooms," and can manage and adjust the concentrations to be suitable for growing vegetables. Gas components are analyzed using gas chromatography.</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>


                  <div class="col-md-12  portfolio-item filter-mc">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/process/ch4_204_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>CH4 -203 Methane Converter </h4>
                          <p style="text-align:justify;  padding-right: 2%;">Methane Converter CH4 -203

                            Features
                            
                            This device uses a Ni catalyst to convert carbon monoxide and carbon dioxide into methanation. By converting carbon monoxide and carbon dioxide into methanation, they can be measured with an FID detector. The conversion rate to methane is over 95%.
                            By combining this with a gas chromatograph with an FID detector, carbon monoxide and carbon dioxide can also be measured with high sensitivity.</p>
                          
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>
                 
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->