<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>CEMS Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="list-group " id="one">
                <ul class="portfolio-flters list-group" data-aos="fade-up" data-aos-delay="100">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-oms">Ozone Precursors (PAMS 56) and Odor Monitoring System</li>
                  <li data-filter=".filter-sma">Splashproof Multigas Ambient FTIR Analyzer</li>
                  <li data-filter=".filter-tg">Trace Greenhouse Gas & Isotope Analyzer</li>
                  <li data-filter=".filter-bca">Multi Spectrum Black Carbon Analyzer</li>
                  <li data-filter=".filter-hwa">Hot-Wire Anemometer</li>
                  <!-- <li data-filter=".filter-NH3Analyzer">NH3 Analyzer</li>
                  <li data-filter=".filter-PM10Analyzer">PM10 Analyzer</li>
                  <li data-filter=".filter-PM25Analyzer">PM2.5 Analyzer</li> -->
      
                </ul><!-- End Projects Filters -->
              </div>
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
      
      
      
              
      
      
                <div class="col-md-12  portfolio-item filter-oms">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/ana/product-rd-001.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>Ozone Precursors (PAMS 56) and Odor Monitoring System</h2>
                        <p>This solution is provided worldwide for ozone precursors monitoring in ambient air. The airmOzone utilizes the airmoVOC C2-C6 and an airmoVOC C6-C12 with FID to monitor :</p>
                        <li>56 compounds of the USEPA list.</li>
                        <li>88 compounds when TO 14 molecules are added.</li>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-sma">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/ana/product-rd-004.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Splashproof Multigas Ambient FTIR Analyzer</h2>
                          <p>GT5000 Terra is embraced by professionals working in various settings, ranging from worksite exposure monitoring to greenhouse gas measurements in challenging weather conditions. Terra excels in demanding situations where portability needs to be coupled with extremely high accuracy. Also, it looks pretty neat.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <!-- <div class="col-md-9  portfolio-item filter-sga1">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-016.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Portable Stack Gas Analyser - 4 Sensors</h2>
                          <p>The IMR 1400CP is a portable Flue Gas Analyzer for commercial and industrial applications. The rugged combustion analyzer can be equipped with up to 4 sensors. Its basic unit has an O2 (Oxygen) and a CO (Carbon Monoxide) sensor. The other two sensors are customer select-able as well as the measuring ranges. The IMR 1400CP measures and calculates all the needed parameters to perform a thorough combustion test.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                <div class="col-md-12  portfolio-item filter-tg">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/ana/product-rd-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>Trace Greenhouse Gas & Isotope Analyzer</h2>
                        <p>Acoem Spectronus is the only high accuracy multispecies trace greenhouse gas and isotope analyser based on Fourier Transform Infrared (FTIR) spectroscopy – a method that measures the absorption of infrared radiation by gases over a broad wavelength range. Spectronus provides simultaneous measurements of multiple greenhouse gas species with high repeatability and excellent precision without the need for frequent gas calibrations.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                <div class="col-md-12  portfolio-item filter-bca">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/ana/product-rd-012.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Multi Spectrum Black Carbon Analyzer</h2>
                          <p>The Met One Instruments BC 1054 Multi-spectrum Black Carbon Analyzer continuously measures the transmittance of light across filter media onto which particulate matter is accumulating and in real-time calculates the black-carbon “BC” concentrations at 10 different wavelengths ranging from the near-UV to the near-IR. By employing the same widely accepted calibration constants and principles of operation as those used in the Magee Aethalometer, the BC-1054 produces nearly identical results, but at a fraction of the cost.<br>

                            BC 1054 will directly connect to a variety of products, such as the BAM-1020, discrete particle size and counting modules, or a wide array of meteorological sensor inputs.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-12  portfolio-item filter-hwa">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/ana/product-rd-014.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Hot-Wire Anemometer</h2>
                          <p>Professional and compact Hot-Wire Anemometer for turbulence measurements and frequency analyses.<br>
                            <br>

                            A Hot-Wire Anemometer (HWA) is a very basic instrument for measurements of turbulence intensity of air flow and for its frequency analyses. A HWA detects velocities from analog electrical signals continuously outputted from the CTA feedback circuit. The Hot-Wire sensors are very tiny, a diameter of about a few microns, and therefore bring high thermal responsiveness. Those small sensors enable to capture information of the microstructure of the flow. By traversing the probe, velocity distribution can be also measured.<br>
                            
                            The Smart CTA is a professional but easy-to-use Hot-Wire Anemometer. In a compact design, two CTA units are integrated, which enable not only a one-dimensional probe but also a two-dimensional probes to use just with one main unit. The Smart CTA offers the frequency response up to 20 kHz, so for most applications it can be employed.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>
      
      
      
                  <!-- <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->