<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/attach/jc2000_p.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>GAS Chromatograph Attachment Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  

        <div class="col-md-1">
          <table class="table portfolio-flters table-bordered">
            <thead>
              <tr>
                <th><li data-filter="*" class="filter-active">All</li></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><li data-filter=".filter-rgm">Data processing device Chromatography Data Station JC2000</li></td>
              </tr>
              <tr>
                <td><li data-filter=".filter-non">Data processing device Chromatography Data Station JSμ7</li></td>
              </tr>
              <tr>
                <td><li data-filter=".filter-dhm">D/A converter DAC-201</li></td>
              </tr>
              <tr>
                <td><li data-filter=".filter-his">Flame extinction detector GFA-201</li></td>
              </tr>
            </tbody>
          </table>
        </div>
  
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200"> 
      
                <div class="col-md-12  portfolio-item filter-rgm">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/attach/jc2000_p.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Data processing device Chromatography Data Station JC2000
                        </h3>
                        <p>Data Processing Device Chromatography Data Station

                            This is a data processing device for the JC2000 gas chromatograph. It
                            allows easy selection and operation of functions such as chromatographic analysis, saving and playing back chromatographic data, enlarging and reducing chromatographic data, various quantitative calculations, and controlling external devices. It also supports various optional functions such as measurement result tables and automatic PDF saving. As
                            standard, it can process data independently for two channels, and can also process and print two channels simultaneously. It also allows easy reprocessing on the screen by loading saved chromatograms while capturing data from two channels. (An optional four-channel version is also available.)</p>
                       
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-non">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/attach/u7_p.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Data processing device Chromatography Data Station JSμ7
                        </h3>
                          <p>This is a data processing device for gas chromatographs. It allows easy selection and operation of functions such as chromatographic analysis, saving and replaying chromatographic data, enlarging and reducing chromatographic data, various quantitative calculations, and control of external devices (optional). Low cost has been achieved by limiting the functions to the bare minimum. In addition, a simple calibration function has been added, allowing calibration at the touch of a button. Software for controlling external devices is optional.</p>
                           

                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
             
                


                  <div class="col-md-12  portfolio-item filter-dhm">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/attach/dac201_p.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>D/A converter DAC-201</h3>
                          <p>DAC-201

                            DA converter
                            
                            Outputs a signal in the set range</p>
                        
                        <li><strong>Features</strong></li>
                        <p>This device receives the measurement results sent from the gas chromatograph data processing device via RS232C, displays the concentration of each component on the LCD screen, and outputs a 4-20mA (DC) signal within the set range.</p>
  
                          </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
                  </div>
        
                  <div class="col-md-12  portfolio-item filter-his">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                          <img src="../../assets/img/attach/gfa201_p.png" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                          <div>
                            <h3>Flame extinction detector GFA-201
                            </h3>
                            <p>Flame extinction detector GFA-201</p>
                             <li><strong>Features</strong></li>
                             <p>This device detects the extinction of the hydrogen flame of the FID detector. It detects the extinction of the flame with a temperature sensor and outputs an alarm and a detection signal. In addition, if you install the optional hydrogen shutoff unit, it will automatically shut off hydrogen when the flame goes out, preventing it from diffusing into the room. (If you purchase it at the same time as a GC, the hydrogen shutoff valve is built into the GC.)</p>
                              
  
                          </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <a [routerLink]="['/contact']" >
                                <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                    Get Qoute
                                </button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
        
               
                 
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->