h4{
   color: rgb(000, 121, 191); 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial','sans-serif';
  }

  p {
    font-size: small;
  }

  li{
    font-size: small;
  }
  h5{
    font-size: small;
  }




.portfolio-flters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio-flters li {
    margin-bottom: 10px;
  }


  #one, #two {
    display: inline-block;
    vertical-align: top;
  }
  
  #one {
    width: 20%; 
  }
  
  #two {
    width: 80%;
  }

.row{
  padding-left: 0%;
}

.table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are collapsed into a single border */
}

.table th, .table td {
  border: 1px solid #ddd; /* Add border around table cells */
  padding: 8px; /* Add padding inside table cells */
  text-align: left; /* Align text to the left */
}

.table th {
  text-align: left; /* Aligns text to the left */
  background-color: #f2f2f2;
  color: black;
  padding-left: 8px; /* Ensures padding on the left for consistent spacing */
}

.portfolio-flters th li {
  text-align: left;
}







