<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/lab/gc206_p.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Products</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Online Air Quality Monitoring Products</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->
  <!-- <img src="../imgcems/product-cems-007.jpg" > -->

  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

          <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">



            <div class="col-md-1">
              <table class="table portfolio-flters table-bordered">
                <thead>
                  <tr>
                    <th><li data-filter="*" class="filter-active" >All</li></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <li data-filter=".filter-no" >Nitrogen oxide/oxygen automatic measuring device</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-noa" >Nitrogen oxide automatic measuring instrument</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-ao" >Automatic oxygen measuring device</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-ea" >Ethylene Analyzer</li></td>
                  </tr>              
                </tbody>
              </table>
            </div>
            
            
    
            <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200"> 
    
              <div class="col-md-12 portfolio-item filter-no">
                <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_ddee72ac-6f29-4002-b80a-527e1df61f6d_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Nitrogen oxide/oxygen automatic measuring device</h3>
                        <p>This measuring instrument is a lightweight and easy-to-maintain model of the previous model, which has been well-received for its high reliability. It is equipped with a highly stable reduced pressure NOx analyzer that uses bypass flow chopping gas analysis and a magnetic force O2 analyzer that combines flow chopping gas analysis, making it ideal for long-term continuous measurement. In addition, a USB memory function is available as an option, making data collection easy.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']">
                        <button class="btn" style="border-radius: 20px; border-color: blueviolet;">Get Quote</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
             


              <div class="col-md-12  portfolio-item filter-noa">
                <div class="card">
                <div class="row">
                  <div class="col-md-4 d-flex align-items-center">
                    <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_17a6e21c-7629-41c5-9da3-1b54f43161f4_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div>
                      <h3>Nitrogen oxide automatic measuring instrument</h3>
                      <p>Research on NOx is diverse, from environmental air and flue gas to the human body and living organisms. This measuring instrument is equipped with a wide range of analytical modes and a wide range of applications as standard to meet the needs of various NOx research. It can be used in two ways: flow chopping mode (FC) for analyses that require stability, and continuous mode (CONT.) for analyses that require a fast response.</p>
                    </div>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']" >
                          <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                              Get Qoute
                          </button>
                      </a>
                    </div>
                </div>
              </div>
              </div>
  


              <div class="col-md-12  portfolio-item filter-ao">
                <div class="card">
                <div class="row">
                  <div class="col-md-4 d-flex align-items-center">
                    <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_8877a0e9-af0c-49dc-9ee4-f9771b02b0d4_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div>
                      <h3>Automatic oxygen measuring device</h3>
                      <p>This measuring instrument is an integrated automatic oxygen measuring instrument with built-in pre-processing for dust removal and dehumidification. The detection section combines a flow chopping gas analysis method and a magnetic force sensor, enabling high-precision long-term continuous measurement, with almost no effect from coexisting gases and a wide linear range from low to high concentrations. In addition, various options, including a USB memory function, are available, making data collection easy.</p>
                    </div>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']" >
                          <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                              Get Qoute
                          </button>
                      </a>
                    </div>
                </div>
              </div>
              </div>
               

              <div class="col-md-12 portfolio-item filter-ea">
                <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_137fd49c-96c5-4b7f-9b68-4c7e827ce2e8_small.webp" class="img-fluid" alt="SO2 Analyzer" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Ethylene Analyzer</h3>
                        <p>This analyzer is a chemiluminescence type ethylene analyzer that utilizes the chemiluminescence of ethylene and ozone, and by incorporating our proprietary premixing type CLD (registered utility model) technology, it is possible to continuously and sensitively measure the concentration of ethylene emitted from fruits and vegetables.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']">
                        <button class="btn" style="border-radius: 20px; border-color: blueviolet;">Get Quote</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
              
    
            </div><!-- End Projects Container -->
    
          </div>
         
          


         


          

        
    </div>
  </section><!-- End Our Projects Section -->

</main><!-- End #main -->