<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div
    class="breadcrumbs d-flex align-items-center"
    style="background-image: url('assets/img/imgcems/product-cems-003.jpg') "
    
  >
    <div
      class="container position-relative d-flex flex-column align-items-center"
      data-aos="fade"
    >
      <h2>Products</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>CEMS Products</li>
      </ol>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <!-- <img src="../imgcems/product-cems-007.jpg" > -->

  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">
      <div
        class="portfolio-isotope"
        data-portfolio-filter="*"
        data-portfolio-layout="masonry"
        data-portfolio-sort="original-order"
      >
        <div class="col-md-1">
          <table class="table portfolio-flters table-bordered">
            <thead>
              <tr>
                <th><li data-filter="*" class="filter-active">All</li></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <li data-filter=".filter-Dustmonitor">
                    Stack Dust monitor (Dust Monitoring Unit)
                  </li>
                </td>
              </tr>
              <tr>
                <td><li data-filter=".filter-sga2">Stack Gas Analysers</li></td>
              </tr>
              <tr>
                <td>
                  <li data-filter=".filter-sga">
                    ASP-500 Temperature, Pressure & Flow Monitor
                  </li>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="row gy-4 portfolio-container"
          id="two"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <!-- <div class="col-md-9  portfolio-item filter-construction">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2024/1/377250757/FM/PL/RN/5167063/caaqms-mnt-envirotech.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>CAAQMS</h3>
                        <p>Detailed description of CAAQMS, including features, specifications, and any other relevant information.</p>
                      </div>
                    </div>
                  </div>
                </div> -->

          <div class="col-md-12 portfolio-item filter-Dustmonitor">
            <div class="card">
              <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                  <img
                    src="../../assets/img/imgcems/ZSS02a.jpg"
                    class="img-fluid"
                    alt="CAAQMS"
                    style="max-width: 290px; height: auto"
                  />
                </div>
                <div class="col-md-8 d-flex align-items-center">
                  <div>
                    <h3
                      style="
                        color: rgb(000, 121, 191);
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                          'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                      "
                    >
                      Stack Dust Monitor (Dust Monitoring Unit)
                    </h3>
                    <!-- <h3>D-R 220</h3> -->
                    <h5>Dust and opacity monitor</h5>
                    <p>
                      The cost-effective solution for continuous, contactless
                      dust and opacity measurement at medium to high
                      concentrations in dry flue and process gases.
                    </p>
                    <ul>
                      <li>Continuous dust measurement</li>
                      <li>Contactless measurement</li>
                      <li>Automatic check functions</li>
                      <li>
                        High-quality corrosion-free plastic housing and a wide
                        ambient temperature range
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                  <a [routerLink]="['/contact']">
                    <button
                      class="btn"
                      style="border-radius: 20px; border-color: blueviolet"
                    >
                      Get Qoute
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12  portfolio-item filter-Dustmonitor1">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/imgcems/dust_monitor.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Dust monitor</h3>
                          <p>The laser beam passes across the stack or duct work and is reflected by the dust particles, the reflected light is then detected by the photoelectric sensor. The intensity of reflected laser signal is proportional to dust concentration, by which the resulting signal is analyzed to yield dust concentration.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> -->

          <!-- <div class="col-md-9  portfolio-item filter-sga1">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-016.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Portable Stack Gas Analyser - 4 Sensors</h3>
                          <p>The IMR 1400CP is a portable Flue Gas Analyzer for commercial and industrial applications. The rugged combustion analyzer can be equipped with up to 4 sensors. Its basic unit has an O2 (Oxygen) and a CO (Carbon Monoxide) sensor. The other two sensors are customer select-able as well as the measuring ranges. The IMR 1400CP measures and calculates all the needed parameters to perform a thorough combustion test.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->

          <div class="col-md-12 portfolio-item filter-sga2">
            <div class="card">
              <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                  <img
                    src="../../assets/img/imgcems/product-cems-003.jpg"
                    class="img-fluid"
                    alt="CAAQMS"
                    style="max-width: 300px; height: auto"
                  />
                </div>
                <div class="col-md-8 d-flex align-items-center">
                  <div>
                    <h3>Stack Gas Analysers</h3>
                    <p>
                      This analyzer consists of an infrared gas analyzer, an O:
                      sen- sor and a gas sampling device. It is used for
                      simultaneous and continuous measurement of the NOx, SO2,
                      CO, CO₂ and O2 components in the flue gas of various
                      boilers, garbage incinerators, etc. For CO and O:
                      measurement specifications, the function for coping with
                      the Japanese regulation on dioxin emission is
                      incorporated.
                    </p>
                    <ul>
                      <li>Low maintenance</li>
                      <li>
                        Low operating-cost： with no gas-sampling device and few
                        parts to be replaced
                      </li>
                      <li>Superior long-term stability</li>
                      <li>Fast response within 2 seconds</li>
                      <li>Tolerant to high temperature and high dust</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                  <a [routerLink]="['/contact']">
                    <button
                      class="btn"
                      style="border-radius: 20px; border-color: blueviolet"
                    >
                      Get Qoute
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12  portfolio-item filter-co">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>CO, CO2 and O2 Analyzer</h3>
                        <p>Online NDIR Flue Gas Analyzer with simultaneous and continuous measurement of the concentration of CO, CO2, O2 gases having excellent prolonged stability, compact size and simple operation.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                      </div>
                  </div>
                </div> -->

          <div class="col-md-12 portfolio-item filter-sga">
            <div class="card">
              <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                  <img
                    src="../../assets/img/imgcems/asp-500.png"
                    class="img-fluid"
                    alt="CAAQMS"
                    style="max-width: 300px; height: auto"
                  />
                </div>
                <div class="col-md-8 d-flex align-items-center">
                  <div>
                    <h3>Temperature, Pressure & Flow Monitor</h3>
                    <p>
                      ASP-500 Temperature, Pressure & Flow Monitor is designed
                      for working condition of low flowrate (1m/s～5m/s). It
                      employs high-precision micro differential pressure/static
                      pressure sensor and special structure design of pitot
                      tube. Combined with automatic calibration and purge
                      technology, it can be widely applied in real-time and
                      continuous flue gas measurement of temperature, pressure,
                      velocity and flow.
                    </p>
                  </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                  <a [routerLink]="['/contact']">
                    <button
                      class="btn"
                      style="border-radius: 20px; border-color: blueviolet"
                    >
                      Get Qoute
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Laser Based Stack Gas Analysers</h3>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Laser Based Stack Gas Analysers</h3>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Laser Based Stack Gas Analysers</h3>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
        </div>
        <!-- End Projects Container -->
      </div>
    </div>
  </section>
  <!-- End Our Projects Section -->
</main>
<!-- End #main -->
