<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <!-- <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/product.jpeg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Products</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Products</li>
      </ol>
    </div>
  </div> -->
  <!-- End Breadcrumbs -->
  <!-- ======= Products Section ======= -->
  <section id="projects" class="projects py-5">
    <div class="container">
      <h3 style="
          color: rgb(000, 121, 191); 
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    ">Environmental</h3>
      <div class="row">
        
        <!-- CAAQMS -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/caaqm/caaqms-systems-001.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/caaqms" class="btn btn-outline-success" style="" (click)="set()">CAAQMS</a>
            </div>
          </div>
        </div>

        <!-- CEMS -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/imgcems/ZSS02a.jpg" class="card-img-top" alt="CEMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/cems" class="btn btn-outline-secondary" (click)="set()">CEMS</a>
            </div>
          </div>
        </div>

        <!-- Repeat for other products -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/ieqms/YUV-3200_背景無し.png" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/eqms" class="btn btn-outline-info" (click)="set()">EQMS</a>
            </div>
          </div>
        </div>

         <!-- Repeat for other products -->
         <!-- <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/port/product-cems-009.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/port" class="btn btn-outline-secondary" (click)="set()">Portable</a>
            </div>
          </div>
        </div> -->


<!-- Repeat for other products -->
<div class="col-md-4 mb-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_ddee72ac-6f29-4002-b80a-527e1df61f6d_small.webp" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
    <div class="card-body d-flex justify-content-center">
      <a routerLink="/air" class="btn btn-outline-secondary" (click)="set()">Air</a>
    </div>
  </div>
</div>

         <!-- Repeat for other products -->
         <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-2400x2400_v-frms_webp_7fb6092f-f00b-4c44-b510-5d9e4f659a47_small.webp" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/water" class="btn btn-outline-info" (click)="set()">WATER</a>
            </div>
          </div>
        </div>


         
        


         <!-- Repeat for other products -->
         <!-- <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/igas/GAS-1010-ProductPhotoMockUp-20230718.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/gas" class="btn btn-outline-secondary" (click)="set()">Gas-chromatography</a>
            </div>
          </div>
        </div> -->

        <!-- Continue with more products to complete the grid -->
      </div>
    </div>


    <div class="container">
      <div class="row">
        <h3 style="
          color: rgb(000, 121, 191); 
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
        ">Analytical</h3>
        <!-- CAAQMS -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/purpose/cgc001_p.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/purpose" class="btn btn-outline-secondary" (click)="set()">General-purpose</a>
            </div>
          </div>
        </div>

        <!-- CEMS -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/process/jlp104.png" class="card-img-top" alt="CEMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/process" class="btn btn-outline-secondary" (click)="set()">Process</a>
            </div>
          </div>
        </div>

        <!-- Repeat for other products -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/lab/gc206_p.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/lab" class="btn btn-outline-secondary" (click)="set()">Lab Use</a>
            </div>
          </div>
        </div>

         <!-- Repeat for other products -->
         <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/medical/eog_p.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/medical" class="btn btn-outline-secondary" (click)="set()">Medical</a>
            </div>
          </div>
        </div>

         <!-- Repeat for other products -->
         <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/environ/rgm1_p.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/environ" class="btn btn-outline-secondary" (click)="set()">Environmental</a>
            </div>
          </div>
        </div>


         <!-- Repeat for other products -->
         <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/attach/jc2000_p.png" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/attach" class="btn btn-outline-secondary" (click)="set()">Attachment</a>
            </div>
          </div>
        </div>


         <!-- Repeat for other products -->
         <!-- <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/igas/GAS-1010-ProductPhotoMockUp-20230718.jpg" class="card-img-top" alt="CAAQMS" style="height: 150px; object-fit: contain;">
            <div class="card-body d-flex justify-content-center">
              <a routerLink="/gas" class="btn btn-outline-secondary" (click)="set()">Gas-chromatography</a>
            </div>
          </div>
        </div> -->

        <!-- Continue with more products to complete the grid -->
      </div>
    </div>
  </section>
  <!-- End Products Section -->
</main>
