<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/head.jpeg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Products</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>CEMS Products</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->
  <!-- <img src="../imgcems/product-cems-007.jpg" > -->

  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

          <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">


            <div class="col-md-1">
              <table class="table portfolio-flters table-bordered">
                <thead>
                  <tr>
                    <th>Filters</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><li data-filter="*" class="filter-active">All</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-1">CAAQMS</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-2">CEMS</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-3">Data Uploading and Management</li></td>
                  </tr>
                  <tr>
                    <td><li data-filter=".filter-4">EQMS</li></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>

           
            
    
            <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
    
    
    
            
    
              <div class="col-md-12  portfolio-item filter-1">
                <div class="card">
                <div class="row">
                  <div class="col-md-4 d-flex align-items-center">
                    <img src="../../assets/img/caaqm/caaqms-systems-001.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div>
                      <h3>CAAQMS</h3>
                      <h6>Continuous Ambient Air Quality Monitoring System</h6>
                      <p>The TOC-4200 is a high-performance on-line TOC analyzer, based on the proven 680°C Catalyst-aided Combustion technology. This established technology is featured in a large installed base of Shimadzu Total Organic Carbon Analyzers throughout the world, and has been applied to a broad field of industries.</p>
                    </div>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']" >
                          <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                              Get Qoute
                          </button>
                      </a>
                    </div>
                </div>
              </div>
              </div>
    
              <div class="col-md-12  portfolio-item filter-2">
                <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/imgcems/asp-500.png" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>CEMS</h3>
                        <h6>Continuous Emission Monitoring System</h6>
                        <p>The Online Colorimeter is a compact analytical instrumentation for online analysis and process monitoring. The colorimeter is based on a color-developing chemical reaction carried out inside the analyzer glass cell. The sample, coming from an external reservoir or process stream is autonomously grabbed by the instrument and mixed with the appropriate reagents to make the reaction happen. The analyzer uses an LED light source and a photodiode to photometrically measure the developed color intensity (absorbance). The absorbance is proportional to the concentration of the target chemical species (analite).</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- <div class="col-md-9  portfolio-item filter-sga1">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../imgcems/product-cems-016.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Portable Stack Gas Analyser - 4 Sensors</h3>
                        <p>The IMR 1400CP is a portable Flue Gas Analyzer for commercial and industrial applications. The rugged combustion analyzer can be equipped with up to 4 sensors. Its basic unit has an O2 (Oxygen) and a CO (Carbon Monoxide) sensor. The other two sensors are customer select-able as well as the measuring ranges. The IMR 1400CP measures and calculates all the needed parameters to perform a thorough combustion test.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div> -->
    
              <div class="col-md-12  portfolio-item filter-3">
                <div class="card">
                <div class="row">
                  <div class="col-md-4 d-flex align-items-center">
                    <img src="../../assets/img/data.png" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div>
                      <h3>Data Uploading and Management</h3>
                      <p>
                        We provide a data uploading and management service for the devices we offer. This service allows administrators to keep an inventory of company-owned devices, review device details, and manage access to organization data. Devices can be added to the inventory, and administrators can import device serial numbers and asset tags using a CSV file. The service also provides security features, such as encryption and data erasure, to ensure the secure transfer and storage of data.</p>
                    </div>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center">
                      <a [routerLink]="['/contact']" >
                          <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                              Get Qoute
                          </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="col-md-12  portfolio-item filter-4">
                <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/ieqms/3200.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>EQMS</h3>
                        <h6>Continuous Effluent Quality Monitoring System</h6>
                        <p>Online monitoring of effluents is mandatory for specific category of industries in India. However choosing right technology is important, as monitoring is not a short term job. The equipment need to be rugged, reliable (result comparable to lab data), economical, well supported by manufacturer and local distributor with inventory of spares and skilled manpower. The system shouldn’t require recurring cost in reinvestment for replacements at a later stage. Also, the instrument need to comply Local and International Standards. We at ASP Pvt. Ltd., consider all the above points to be best choice for our customers.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
    
    
    
                <!-- <div class="col-md-12  portfolio-item filter-lta">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/ieqms/product-eqms-006-a.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>On-Line TSS/MLSS Analyzer</h3>
                        <p>MLSS Analyzer has built-in microprocessor, equipped the best function and specification for measuring MLSS in the industry. It is designed to analyze MLSS concentration values wherever and any condition as quickly and accurately on the live.

                          It also measures MLSS concentration values constantly and it is used to measure suspended substance concentration and Sludge’s high concentration in various places such as sewage disposal plant, livestock, excrement treatment plant, industrial waste water and water disposal industry and etc.
                          
                          This compact case has built-in backlight graphical LCD, manual/auto calibration, Relay contact output(3 phases),trend analysis function and RS-232C communication function.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                      </div>
                  </div>
                </div> -->
    
    
    
                <!-- <div class="col-md-9  portfolio-item filter-sga2">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Laser Based Stack Gas Analysers</h3>
                        <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
    
             
    
                <div class="col-md-9  portfolio-item filter-sga2">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Laser Based Stack Gas Analysers</h3>
                        <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
    
    
                <div class="col-md-9  portfolio-item filter-sga2">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>Laser Based Stack Gas Analysers</h3>
                        <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, h3O, h3S, HCl and HF etc.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div> -->
    
              
    
            </div><!-- End Projects Container -->
    
          </div>
         
          


         


          

        
    </div>
  </section><!-- End Our Projects Section -->

</main><!-- End #main -->