<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/medical/eog_p.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>GAS Chromatograph Medical Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="col-md-1">
                <table class="table portfolio-flters table-bordered">
                  <thead>
                    <tr>
                      <th>Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><li data-filter="*" class="filter-active">All</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-dhm">GC216 EOG Concentration Meter </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-his">GC203 Medical Gas Analyzer </li></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200"> 
      
                <div class="col-md-12  portfolio-item filter-dhm">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/medical/eog_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>GC216 EOG Concentration Meter 
                        </h3>
                        <p>This device can perform online, fully automatic measurement of the concentration of EOG (ethylene oxide) used in the EOG sterilization method. Measurements can be performed easily and accurately using the gas chromatography method, and the device can be installed in sterilizers (cabinets) of various manufacturers.</p>
                        <li><strong>The inspection equipment uses a highly stable thermal conductivity detector (TCD).</strong></li>
                           <p>Thermistor type TCD for high durability and long life</p>
                           <li><strong>All sample gas lines are in thermostatic chambers, so there is no need to worry about moisture condensation.</strong></li>
                           <p>All sample flow lines are kept at a constant temperature, allowing for stable analysis.</p>

                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-his">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/lab/jtf_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>GC203 Medical Gas Analyzer 
                        </h3>
                          <p>GC203

                            Medical Gas Analyzer
                            
                            Gas chromatograph for medical gas analysis</p>
                            <li><strong>Pursuit of operability</strong></li>
                            <p>A model change from the GC202 to further improve operability</p>
                            <li><strong>Compliant with the Japanese Pharmacopoeia</strong></li>
                            <p>The analytical method complies with the 18th revision of the Japanese Pharmacopoeia (enforced in June 2021).</p>

                            <li>Trace amounts of hydrogen can be measured using the TDA method, which uses gas chromatography.</li>
                            <li>The heating rate, temperature range, etc. can be changed as desired.</li>
                            <li>The temperature-amount of released hydrogen is displayed in a graph and table.</li>
                            <li>The tubular furnace is openable and easy to handle.</li>
                            <li>The overheating prevention device ensures complete safety.</li>
                            <li>Components other than hydrogen can also be measured (optional).</li>
                            
                            
                            

                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
             
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->