<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>CEMS Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="list-group " id="one">
                <ul class="portfolio-flters list-group" data-aos="fade-up" data-aos-delay="100">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-toc">Laboratory Total Organic Carbon (TOC) Analyzerr</li>
                  <li data-filter=".filter-do">BOD by DO Probe</li>
                  <li data-filter=".filter-cod">COD System</li>
                  <li data-filter=".filter-uv">UV-VIS Spectrophotometer</li>
                  <li data-filter=".filter-col">Colorimeters</li>
                 <li data-filter=".filter-ph">pH, TDS and Temperature Pocket TesterPM10 Analyzer</li>
                   <!-- <li data-filter=".filter-PM25Analyzer">PM2.5 Analyzer</li> -->
      
                </ul><!-- End Projects Filters -->
              </div>
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
      
      
      
                <!-- <div class="col-md-9  portfolio-item filter-construction">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://5.imimg.com/data5/SELLER/Default/2024/1/377250757/FM/PL/RN/5167063/caaqms-mnt-envirotech.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>CAAQMS</h2>
                        <p>Detailed description of CAAQMS, including features, specifications, and any other relevant information.</p>
                      </div>
                    </div>
                  </div>
                </div> -->
      
      
                <div class="col-md-12  portfolio-item filter-toc">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/iwater/product-water-001.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>Laboratory Total Organic Carbon (TOC) Analyzer</h2>
                        <p>The TOC-L series of TOC analyzers adopts the 680°C combustion catalytic oxidation method, which was developed by Shimadzu and is now used worldwide.</p>
                        <p>
                            While providing an ultra wide range of 4 μg/L to 30,000 mg/L, these analyzers boast a detection limit of 4 μg/L through coordination with NDIR. This is the highest level of detection sensitivity available with the combustion catalytic oxidation method.
<br>
In addition, the combustion catalytic oxidation method makes it possible to efficiently oxidize not only easily-decomposed, low-molecular-weight organic compounds, but also hard-to-decompose insoluble and macromolecular organic compounds.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      


                <div class="col-md-12  portfolio-item filter-do">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/iwater/product-water-003.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>BOD by DO Probe</h2>
                          <p>Self-stirring dissolved oxygen sensor StirrOx® G for the measurement of the biochemical oxygen demand (BOD) according to the dilution method. Permanent flow for accurate measured values thanks to built-in stirrer. Accurate measuring results thanks to minimal use of oxygen. Perfectly adapted to BOD measurement in Karlsruhe and Winkler bottles</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-9  portfolio-item filter-cod">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/iwater/product-water-004.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>COD System</h2>
                          <h5>Colorimeter:</h5>
                          <p>Single Parameter Colorimeter for COD. The 910 colorimeter is a rugged, waterproof, single parameter instrument for the measurement of COD (chemical oxygen demand). The EPA-approved COD test is useful for performing rapid, frequent monitoring of treatment plant efficiency, and results allow quick response to changing conditions in the waste stream while the traditional BOD5 test takes 5-days to determine results.<br>

                            The instrument features a large, backlit display, a real time clock, automatic data logging as well as the ability to export data to a PC or printer using the 900 Series Data Hub for infrared data transfer.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 
      
                <div class="col-md-12  portfolio-item filter-uv">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/iwater/product-water-006.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h2>UV-VIS Spectrophotometer</h2>
                        <p>The UV-VIS Spectrophotometer is suitable for universal use, from well-proven routine analysis to spectral analysis, with pioneering procedure reagent-free measurement of COD, Nitrate and Nitrite. Furthermore, important parameters such as UVT and SAC as well as comprehensive color measurement are supported.<br>

                            Supports the fastest and affordable routine analytics by using barcoded test kits and round and rectangular cuvettes just like the VIS Spectrophotometer.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                <div class="col-md-12  portfolio-item filter-col">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/iwater/product-water-007.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Colorimeters</h2>
                          <p>pHotoFlex® STD Colorimeter with 6 wavelengths.<br>

                            pHotoFlex® pH shows its strength with more complex tasks, with its unique multi-parameter function of photometry and full electrochemical pH- and ORP-measurement.<br>
                            
                            pHotoFlex® Turb is the "real" multi-parameter colorimeter with pH, ORP and turbidity measurement. The original colorimeter with 6 wavelength, full value pH, ORP and normative standard turbidity measurement.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-12  portfolio-item filter-ph">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/iwater/product-water-012.1.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>pH, TDS and Temperature Pocket Tester</h2>
                          <p>The electronic portable PockeTester™ measures the Sodium Chloride level, pH, ORP, EC, DO, TDS, Temperature, Total Chlorine, Fluoride of water pools. Designed for the general water and pool, spa professional. Stores the recorded data using built in memory.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>
      
      
      
                  <!-- <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-9  portfolio-item filter-sga2">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../imgcems/product-cems-007.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h2>Laser Based Stack Gas Analysers</h2>
                          <p>Based on unique Tunable Diode Laser Absorption Spectrum (TDLAS) technology. LGT series laser gas analyzer for industrial online analysis and environmental online monitoring. Laser gas analyzers are used in a wide variety of applications to measure O2, CO, NH3, CO2, CH4, H2O, H2S, HCl and HF etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> -->
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->