<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/head.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Online Water Quality Monitoring Products</li>
        </ol>
  
      </div>
    </div> -->
    <!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="col-md-1">
                <table class="table portfolio-flters table-bordered">
                  <thead>
                    <tr>
                      <th><li data-filter="*" class="filter-active" style="font-size: small; ">Water</li></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><li data-filter=".filter-acod"style="font-size: small; ">COD-380R Automatic COD Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tpn"style="font-size: small; ">TPN-580/TPN-580R Automatic Total Phosphorus/Total Nitrogen Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tna"style="font-size: small; ">TN-310 Automatic Total Nitrogen Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-api"style="font-size: small; ">PHS-580i Automatic Phosphate Ion Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-hamd"style="font-size: small; ">HZ-680 Automatic Hydrazine Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-samd"style="font-size: small; ">SIO-780 Automatic Silica Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tca"style="font-size: small; ">TCN-580 Automatic Total Cyanogen Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-aci"style="font-size: small; ">CN-180 Automatic Ion Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-aac"style="font-size: small; ">NH-180 Automatic Ammonia Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-afi"style="font-size: small; ">FLO-180 Automatic Fluorin Ion Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-ammd"style="font-size: small; ">HGM-180 Automatic Mercury Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-pam"style="font-size: small; ">PNL-780 Automatic Phenol Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-pam1"style="font-size: small; ">PNL-780D Automatic Phenol</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-hca"style="font-size: small; ">CR-680 Automatic Hexavalent Chromium Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tcam"style="font-size: small; ">TCR-680 Automatic Total Chromium Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-hpam"style="font-size: small; ">HOA-280 Automatic Hydrogen Peroxide Analyzer</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-samd1"style="font-size: small; ">SVI-708 Automatic SVI Analyzer</li></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200">
      
      
            
                <div class="col-md-12  portfolio-item filter-acod">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-2400x2400_v-frms_webp_7fb6092f-f00b-4c44-b510-5d9e4f659a47_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div >
                        <h4>COD-380R Automatic Online COD Analyzer</h4>
                        <!-- <p>The TOC-L series of TOC analyzers adopts the 680°C combustion catalytic oxidation method, which was developed by Shimadzu and is now used worldwide.</p> -->
                        <p style="text-align:justify;  padding-right: 2%; ">This is an automated device that measures COD (chemical oxygen consumption), an important parameter for understanding the water quality of river water or industrial wastewater, based on the Japanese Industrial Standard JIS K0102 (industrial wastewater test method) and sewage test method. We have further evolved our COD automatic measurement device, which has a proven track record of high reliability and stability, and are now offering the "COD-3100" as a new model that meets user needs. While retaining the same ease of maintenance and measurement performance as previous models, we have reduced the amount of cleaning water used to about 1/20.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>

                <div class="col-md-12  portfolio-item filter-tpn">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_ff5624fa-1c27-4ba0-a0a7-ab8fc2682354_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>TPN-580/TPN-580R Automatic Total Phosphorus/Total Nitrogen Analyzer</h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This is an automated device that measures total phosphorus and total nitrogen, which are important indicators for understanding the water quality of river water or industrial wastewater, based on the Japanese Industrial Standard JIS K0102 (Industrial wastewater testing method). This device has inherited the ease of maintenance and measurement performance of the previous model, but has been upgraded to a device that will satisfy customers even more by incorporating a large LCD touch panel and TN/TP individual measurement functions.
                            In addition, the TPN-580R, which requires only a small amount of reagent, requires half the amount of reagent for sample decomposition, making it possible to significantly reduce running costs for measurement.
                            
                            </p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12  portfolio-item filter-tna">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_a1dd27d2-8d25-4c50-8520-03fc3fbf737c_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>TN-310 Automatic Total Nitrogen Analyzer</h4>
                          <!-- <h5>Colorimeter:</h5> -->
                          <p style="text-align:justify;  padding-right: 2%; ">The automatic total nitrogen measuring device is a fully automated total nitrogen measuring method using the "contact pyrolysis/chemiluminescence method" adopted in JIS K0102. It can measure at intervals of several minutes and can be used for a wide range of purposes, from controlling and measuring nitrogen treatment to measuring discharged water.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 

                  
                  <div class="col-md-12  portfolio-item filter-api">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_f4227273-768d-4ac2-aa3a-3d24c0d1595f_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>PHS-580i Automatic Phosphate Ion Analyzer</h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This device fully automates the "molybdenum blue absorptiometry" adopted in JIS K 0102, and can measure phosphate ions in a short time. Understanding phosphate ion concentration is important for wastewater treatment process management and various boiler water management, and the PHS-580i uses its unique technology to achieve highly accurate long-term continuous measurement in order to meet such needs.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 

     
      
                  <div class="col-md-12  portfolio-item filter-hamd">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_0e1f829f-5af9-4baf-b65e-08b13b807121_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>HZ-680 Automatic Hydrazine Analyzer</h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This device is a fully automated hydrazine measurement device based on JIS B8224, capable of measuring at intervals of approximately 15 minutes, and is ideal for constantly monitoring the concentration of hydrazine injected as a dissolved oxygen reducing agent in boiler water supply and controlling the injection amount.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 
      

                  <div class="col-md-12  portfolio-item filter-samd">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_77b465c5-d9d4-4d45-a94b-74ded36863e7_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>SIO-780 Automatic Silica Analyzer                           </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This device is a fully automated silica measurement system based on JIS B8224, capable of measurement at approximately 10-minute intervals, and is ideal for reducing the labor required for boiler maintenance and management, as it can continuously measure silica leaks from ion exchange equipment used to produce boiler make-up water and silica concentration in boiler water.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 

                <div class="col-md-12  portfolio-item filter-tca">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_c089b4fb-2d0a-46b4-a2f6-e6025fdf022d_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>TCN-580 Automatic Total cyanogen Analyzer</h4>
                          <p style="text-align:justify;  padding-right: 2%; ">Cyanide is measured by the distillation operation - pyridine pyrazolone absorptiometry method specified in JIS K0102, but this measurement method requires skill and takes several hours, so a simple and reliable measurement method was desired.
                            TCN-580 can measure total cyanide in a sample within 30 minutes, and can measure concentrations from 0.01 mg/L, so it can be widely used not only for automatic monitoring of total cyanide, but also for labor-saving measurements to replace manual analysis.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-12  portfolio-item filter-aci">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_bf78a7a3-b317-4595-9b8c-3bb8d1c817ad_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>CN-180 Automatic Ion Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This equipment fully automates the measurement method using an ion electrode after sample pretreatment by intermittent measurement, significantly reducing the amount of chemicals used, while also improving performance. It has been completely redesigned into a high-grade product that can also be equipped with automatic calibration upon request, and can be used widely as a monitor for public water areas and various types of industrial wastewater.                          </p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div>
      
      
      
                  <div class="col-md-12  portfolio-item filter-aac">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_e56e893d-01ae-461c-bf4f-a8c2aaba7067_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>NH-180 Automatic Ammonia Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This equipment fully automates the measurement method using an ion electrode after sample pretreatment by intermittent measurement, significantly reducing the amount of chemicals used, while also improving performance. It has been completely redesigned into a high-grade product that can also be equipped with automatic calibration upon request, and can be used widely as a monitor for public water areas and various types of industrial wastewater.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
               
      
                  <div class="col-md-12  portfolio-item filter-afi">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_e024a2ba-2003-4a14-b8bd-6ea33676e716_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>FLO-180 Automatic Fluorin ion Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This equipment fully automates the measurement method using an ion electrode after sample pretreatment by intermittent measurement, significantly reducing the amount of chemicals used, while also improving performance. It has been completely redesigned into a high-grade product that can also be equipped with automatic calibration upon request, and can be used widely as a monitor for public water areas and various types of industrial wastewater.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
                  
                  <div class="col-md-12  portfolio-item filter-ammd">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_e5b0966c-bc5c-4fef-98b5-a782466cb148_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>HGM-180 Automatic Mercury Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">The automatic mercury measuring device automatically measures inorganic mercury in a sample by reduction vapor atomic absorption spectrometry. It is capable of measuring low concentrations from 0.5 μg/L in a short time, and can be widely used as a mercury monitor to replace manual analysis.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 
      
                  <div class="col-md-12  portfolio-item filter-pam">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_c30fab74-b63f-4dbb-b0de-afecc76ef4e6_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>PNL-780 Automatic Phenol Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This device is a fully automated phenol measurement method using the JIS method's "4-aminoantipyrine spectrophotometric method." Measurements from 0.1 mg/L are possible in a short time, and it can be used widely for process control and labor-saving measurement applications to replace manual analysis. In addition, the distillation specification can avoid interference from coexisting components in the sample, allowing for more selective measurement.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 



                  <div class="col-md-12  portfolio-item filter-pam1">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_d33cd55a-54b5-4148-b5c0-bf28af44ca3c_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>PNL-780D Automatic Phenol </h4>
                          <h5>
                            Model: PNL-780D (distillation measurement type)</h5>
                          <p style="text-align:justify;  padding-right: 2%; ">This device is a fully automated phenol measurement method using the JIS method's "4-aminoantipyrine spectrophotometric method." Measurements from 0.1 mg/L are possible in a short time, and it can be used widely for process control and labor-saving measurement applications to replace manual analysis. In addition, the distillation specification can avoid interference from coexisting components in the sample, allowing for more selective measurement.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 




                  <div class="col-md-12  portfolio-item filter-hca">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_08e9d45b-cd8c-4878-9635-bcb9f5f2247a_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>CR-680 Automatic Hexavalent chromium Analyzer </h4>
                          <p style="text-align:justify;  padding-right: 2%; ">This device fully automates the hexavalent chromium measurement method using the "diphenylcarbazide absorptiometry" method according to the JIS standard, and is capable of measuring low concentrations from 0.02 mg/L in a short time, making it suitable for a wide range of applications, from automatic monitoring to labor-saving measurement to replace manual analysis.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 


                  <div class="col-md-12  portfolio-item filter-tcam">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_52dced38-a515-4461-b4a8-93f1bc51931e_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>TCR-680 Automatic Total Chromium Analyzer </h4>
                          <p>This device fully automates the total chromium measurement method using diphenylcarbazide spectrophotometry after adding potassium permanganate and heating, as in the JIS method, and can be widely used for measurements such as process control.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 







                  <div class="col-md-12  portfolio-item filter-hpam">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_bdbdcfe6-b8c0-49c9-92e2-77fc4e5d55ac_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>HOA-280 Automatic Hydrogenperoxide Analyzer </h4>
                          <p>The automatic hydrogen peroxide measuring device is a fully automated version of the manual analysis method using potassium permanganate titration, and can be used not only for controlled measurement of hydrogen peroxide, but also for a wide range of applications, including measurement of wastewater from semiconductor cleaning, etc.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 



















                  <div class="col-md-12  portfolio-item filter-samd1">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="https://storage.googleapis.com/studio-cms-assets/projects/1pqDwe1bOj/s-1200x1200_v-fms_webp_4ef2a44a-d01f-479c-99e8-38e7aa841ac1_small.webp" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h4>SVI-708 Automatic SVI Analyzer </h4>
                          <p>The activated sludge volume index measuring device simultaneously measures the MLSS value, SV value, and the SVI value calculated from both in the aeration tank of a sewage treatment plant, etc., and can be used for a wide range of purposes, such as controlling and monitoring treatment conditions, in place of conventional manual analysis.</p>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div> 






                 



                  



                  



                  



                  

      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->