 <!-- ======= Hero Section ======= -->
  <div class="noselect" >
 <section id="hero" class="hero">

  <div class="align-items-center">
    <div class="container">
      <div class="row justify-content-center" style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">
        <div class="col-lg-6 text-center" style="margin-top: 5%;">
          <!-- <h2 data-aos="fade-down" style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">Welcome to <span>ASP</span></h2> -->
          <h2>Welcome To ASP</h2>
          <p data-aos="fade-up" style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">ASP is a reputable organization that specializes in providing top-notch instrumentation and technical services in various areas such as Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety, and Software for CPCB-SPCB Servers.</p>
          <!-- <a data-aos="fade-up" data-aos-delay="200" [routerLink]="['/contact']" class="btn-get-started" style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">Get Started</a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active carousel-image" style="background-image: url(../../assets/img/ana/product-rd-001.jpg)"></div>
    <div class="carousel-item carousel-image" style="background-image: url(assets/img/caaqm/caaqms-systems-001.jpg)"></div>
    <div class="carousel-item carousel-image" style="background-image: url(assets/img/ieqms/product-eqms-002.jpg)"></div>
    <div class="carousel-item carousel-image" style="background-image: url(assets/img/igas/GAS-1010-ProductPhotoMockUp-20230718.jpg)"></div>
    <div class="carousel-item carousel-image" style="background-image: url(assets/img/imgcems/product-cems-003.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div> -->

</section><!-- End Hero Section -->

  <!-- ======= Constructions Section ======= -->
  <section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="text-center">
        <h2 style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">What Sets Us Apart?</h2>
        <p style="color: black ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';">ASP enables industries to monitor their surroundings, research institutions to conduct studies on pollution, and governing bodies to assess pollution levels.</p>
      </div>

      <div class="col-md-12 d-flex justify-content-center">
        <a [routerLink]="['/products']" >
            <button class="btn" style="border-radius: 20px; border-color: rgb(000,121,191) ;  " >
                Products
            </button>
        </a>
      </div>

    </div>
  </section><!-- End Constructions Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Services</h2>
        <p>ASP brings Professionalism, Technical knowledge, Experience, and Flexibility to every project, large or small. Our project teams routinely address a variety of environment related challenges. Each and every project is important to us because it is important to you.</p>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <a [routerLink]="['/services']" >
            <button class="btn" (click)="set()" style="border-radius: 20px; border-color: rgb(000,121,191) ;  " >
                Services
            </button>
        </a>
      </div>
    

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Alt Services Section ======= -->


  <!-- ======= Features Section ======= -->


   <!-- ======= get a quote Section ======= -->
   <section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>Our Identity.</h3>
            <p>ASP is a trusted company that provides top-notch instrumentation and technical services for Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety, and Software for CPCB-SPCB Servers. Our services adhere to the regulations set by Central and State Environmental Authorities.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="fade">
          <form action="forms/quote.php" method="post" class="php-email-form">
            <h3>Contact Us</h3>
            <p>Our team is prepared to address any inquiries you may have regarding our product features, specifications, pricing, trials, demonstrations, spare parts, consumables, services, calibration, or any other related matter. Feel free to reach out to us with your questions.
    
    
            </p>
            <div class="row gy-3">
    
              <div class="col-md-12">
                <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" name="name" class="form-control" placeholder="Name" required >
              </div>
    
              <div class="col-md-12 ">
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
    
              <div class="col-md-12">
                <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" name="phone" placeholder="Phone" required>
              </div>
    <h6>Product Or Service Required</h6>
              <div class="col-md-12">
                 
                <textarea [(ngModel)]="msg" [ngModelOptions]="{standalone: true}" class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
    
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>
    
                <button type="submit" (click)="send()">Contact Us 📞</button>
              </div>
            </div>
          </form>
        </div><!-- End Quote Form -->
    

      </div>

    </div>
  </section><!-- get a quote Section -->
</div>