 <!-- ======= Hero Section ======= -->
  <div class="noselect">
 <section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Welcome to <span>ASP</span></h2>
          <p data-aos="fade-up">ASP is a reputable organization that specializes in providing top-notch instrumentation and technical services in various areas such as Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety, and Software for CPCB-SPCB Servers.</p>
          <a data-aos="fade-up" data-aos-delay="200" href="#constructions" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active" style="background-image: url(assets/img/ana/product-rd-001.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/caaqm/caaqms-systems-001.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/ieqms/product-eqms-002.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/igas/GAS-1010-ProductPhotoMockUp-20230718.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/imgcems/product-cems-003.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section><!-- End Hero Section -->

  <!-- ======= Constructions Section ======= -->
  <section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>What Sets Us Apart?</h2>
        <p>ASP enables industries to monitor their surroundings, research institutions to conduct studies on pollution, and governing bodies to assess pollution levels.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">CAAQMS</h4>
                  <p>Continuous monitoring systems, stations, mobile vans, optional analyzers, and more are available for monitoring ambient air quality in accordance with NAAQS.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-002.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">CEMS</h4>
                  <p>OCEMS provides Continuous Emission Monitoring Systems for various applications such as Stack Emissions, Automobile Emissions, Dust Monitors, and PTH Analyzers.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-003.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">EQMS</h4>
                  <p>Effluent quality monitoring systems are utilized to measure various parameters such as TOC, COD, BOD, pH, TSS, temperature, flow rate, etc. for sewage treatment plants (STP), water treatment plants (WTP), drinking water treatment plants (DWTP).</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-006.jpg);"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Air</h4>
                  <p>Portable instruments for monitoring air quality are designed to measure both gases and particulate matter or dust.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Constructions Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Services</h2>
        <p>ASP brings Professionalism, Technical knowledge, Experience, and Flexibility to every project, large or small. Our project teams routinely address a variety of environment related challenges. Each and every project is important to us because it is important to you.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="fa-solid fa-mountain-city"></i>
            </div>
            <h3>Air Quality</h3>
            <p>Scientific evidence continues to accumulate regarding the diverse and serious health consequences associated with Air Pollution. The term Air Pollution refers to the amalgamation of detrimental gases and particles in the atmosphere.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Stack Emission</h3>
            <p>Stack emissions refer to the gases that are discharged into the atmosphere from boiler stacks, chimneys, DG set stacks, and other sources in different industries following the incineration process, which involves the elimination or combustion of harmful gases prior to their release into the environment.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <h3>Water Quality</h3>
            <p>With more than 70% of the Earth's surface covered by water, this vital resource plays a crucial role for both humanity and the environment. The detrimental effects of water pollution are felt globally, impacting not only drinking water sources but also rivers, lakes, and oceans.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-trowel-bricks"></i>
            </div>
            <h3>Gas Detection</h3>
            <p>Our company offers gas leak detection services that effectively identify potential areas of concern before they escalate into more severe and perilous issues. It is crucial to address gas leaks promptly as they pose a significant threat to your well-being.</p>
            <a href="/servies" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <h3>Occupational Health & Safety</h3>
            <p>Work plays a central role in people's lives, since most workers spend at least eight hours a day in the workplace. Occupational health and safety is a discipline with a broad scope involving</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-arrow-up-from-ground-water"></i>
            </div>
            <h3>Software & CPCB-SPCB Servers</h3>
            <p>We have developed a top-notch software program that meets your needs and preferences. Our monitoring software is user-friendly, straightforward, enjoyable to use, and delivers effective results.</p>
            <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Alt Services Section ======= -->
  <section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-6 img-bg" style="background-image: url(https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>CAAQMS</h3>
          <p>Continuous Ambient Air Quality Monitoring Systems, Stations, Mobile Vans, Optional Analyzers etc. for ambient air as per NAAQS.</p>

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">CEMS</a></h4>
              <p>Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">CEMS</a></h4>
              <p>Continuous Emission Monitoring Systems for Stack Emissions, Automobile Emissions, Dust Monitors, PTH Analyzers etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">EQMS</a></h4>
              <p>Effluent Quality Monitoring Systems to Measure TOC / COD / BOD, pH, TSS, Temp., Flow etc. For STP, WTP, DWTP etc. as per OCEMS</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Air</a></h4>
              <p>Portable Air Quality Monitoring Instruments to measure gases and particulate matter / dust.</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>
  </section><!-- End Alt Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-3">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>CAAQMS</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>CEMS</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>EQMS</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <h4>Air</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>CAAQMS</h3>
              <p class="fst-italic">
                It is a system created to consistently observe the air quality in a designated region, typically urban or industrial settings. These systems assess different factors like particulate matter (PM10, PM2.5), sulfur dioxide (SO2), nitrogen dioxide (NO2), carbon monoxide (CO), ozone (O3), and other harmful substances.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> The monitoring parameters include the measurement of pollutants such as PM10, PM2.5, NO2, SO2, CO, and O3.</li>
                <li><i class="bi bi-check2-all"></i> Real-time data is gathered through the utilization of specialized sensors for data collection purposes.
                </li>
                <li><i class="bi bi-check2-all"></i> The spatial coverage of the monitoring system is strategically positioned in urban and industrial areas to ensure representative coverage.</li>
                <li><i class="bi bi-check2-all"></i> Through data analysis, trends are identified, sources are pinpointed, and reports/alerts are issued accordingly.
                </li>
                <li><i class="bi bi-check2-all"></i> Public awareness is heightened by disseminating real-time information to the general population.</li>
                <li><i class="bi bi-check2-all"></i> Public awareness is heightened by disseminating real-time information to the general population.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-001.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>CEMS</h3>
              <p class="fst-italic">
                It is a monitoring system utilized to continuously track and document emissions of pollutants from industrial sources, such as power plants, refineries, and manufacturing facilities. Here are some important aspects of CEMS:
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> <b>Real-time Monitoring:</b> Monitors emissions of pollutants like sulfur dioxide (SO2), nitrogen oxides (NOx), carbon monoxide (CO), particulate matter (PM), volatile organic compounds (VOCs), and other pollutants in real-time.</li>
                <li><i class="bi bi-check2-all"></i> <b>Compliance Monitoring:</b> Ensures that industrial facilities adhere to emissions regulations established by environmental agencies.</li>
                <li><i class="bi bi-check2-all"></i><b> Data Accuracy:</b> Provides precise and dependable data on emissions, aiding in the evaluation of environmental impact and compliance.</li>
                <li><i class="bi bi-check2-all"></i> <b>Continuous Reporting:</b> Generates ongoing data streams for reporting to regulatory authorities, enabling timely enforcement and corrective measures.
                </li>
                <li><i class="bi bi-check2-all"></i> <b>Quality Assurance:</b> Incorporates calibration and quality assurance procedures to uphold the accuracy and reliability of data.</li><li><i class="bi bi-check2-all"></i> <b>Remote Access:</b> Some systems offer capabilities for remote access, allowing for monitoring and troubleshooting without the need for on-site presence.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-002.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>EQMS</h3>
              <ul>
                <li><i class="bi bi-check2-all"></i> An EQMS, or Environmental Quality Management System, is a system that focuses on the management and enhancement of environmental performance within an organization. Here are some important aspects of EQMS:</li>
                <li><i class="bi bi-check2-all"></i> <b>Compliance Management:</b> EQMS helps ensure that the organization complies with relevant environmental regulations, permits, and standards that pertain to its operations.</li>
                <li><i class="bi bi-check2-all"></i>  <b>Risk Assessment:</b> EQMS identifies and evaluates environmental risks associated with the organization's activities, products, and services.</li>
                <li><i class="bi bi-check2-all"></i>  <b> Risk Monitoring and Measurement:</b> EQMS establishes processes for monitoring and measuring environmental performance indicators to track progress and identify areas that need improvement.</li>
                <li><i class="bi bi-check2-all"></i><b>Risk Document Control:</b> EQMS manages environmental policies, procedures, and records to ensure consistency and traceability.</li>
                <li><i class="bi bi-check2-all"></i> <b>Risk Training and Awareness:</b> EQMS provides training and promotes awareness among employees regarding their environmental responsibilities and best practices.</li>
              </ul>
              <p class="fst-italic">
                <b>Continuous Improvement:</b> EQMS facilitates the identification of opportunities for enhancing environmental performance and implementing corrective and preventive actions.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-003.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>R & D</h3>
              <p class="fst-italic">
                Research and development (R&D) services encompass the specialized activities offered by firms or departments to support organizations in their innovation endeavors. Here are several crucial elements of R&D services:
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> <b>Technical Proficiency:</b> R&D service providers deliver expertise in a range of scientific, engineering, and technical fields that are pertinent to the requirements of the client.</li>
                <li><i class="bi bi-check2-all"></i> <b>Tailored Solutions:</b> They create customized solutions to tackle specific research obstacles or innovation objectives of their clients.
                </li>
                <li><i class="bi bi-check2-all"></i> <b>Prototype Development and Testing:</b> R&D services may involve the creation of prototypes, testing, and validation of new products, processes, or technologies to ensure their feasibility and performance.</li>
                <li><i class="bi bi-check2-all"></i> <b>Market Research:</b> Some R&D service providers conduct market research and analysis to aid clients in recognizing opportunities, evaluating market trends, and making well-informed decisions.</li>
                <li><i class="bi bi-check2-all"></i> <b>Regulatory Assistance:</b> They might help clients in navigating regulatory standards and compliance issues associated with R&D activities, product development, and commercialization.</li>
                <li><i class="bi bi-check2-all"></i> <b>Collaborative Alliances:</b> R&D service providers frequently establish collaborative partnerships with clients, academic institutions, government bodies, and other stakeholders to harness resources and expertise.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="https://www.swanenviron.com/assets/images/swan-environmental-air-water-quality-018.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->

   <!-- ======= get a quote Section ======= -->
   <section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>Our Identity.</h3>
            <p>ASP is a certified company that provides top-notch instrumentation and technical services for Ambient Air Quality, Stack Monitoring, Water Quality, Gas Detection, Occupational Health & Safety, and Software for CPCB-SPCB Servers. Our services adhere to the regulations set by Central and State Environmental Authorities.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="fade">
          <form action="forms/quote.php" method="post" class="php-email-form">
            <h3>Contact Us</h3>
            <p>Our team is prepared to address any inquiries you may have regarding our product features, specifications, pricing, trials, demonstrations, spare parts, consumables, services, calibration, or any other related matter. Feel free to reach out to us with your questions.
    
    
            </p>
            <div class="row gy-3">
    
              <div class="col-md-12">
                <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" name="name" class="form-control" placeholder="Name" required >
              </div>
    
              <div class="col-md-12 ">
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
    
              <div class="col-md-12">
                <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" name="phone" placeholder="Phone" required>
              </div>
    <h6>Product Or Service Required</h6>
              <div class="col-md-12">
                 
                <textarea [(ngModel)]="msg" [ngModelOptions]="{standalone: true}" class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
    
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>
    
                <button type="submit" (click)="send()">Contact Us 📞</button>
              </div>
            </div>
          </form>
        </div><!-- End Quote Form -->
    

      </div>

    </div>
  </section><!-- get a quote Section -->
</div>