<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/purpose/cgc001_p.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
  
        <h2>Products</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>GAS Chromatograph General Purpose Products</li>
        </ol>
  
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- <img src="../imgcems/product-cems-007.jpg" > -->
  
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
  
            <div class="portfolio-isotope  " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
  
  
  
              <div class="col-md-1">
                <table class="table portfolio-flters table-bordered">
                  <thead>
                    <tr>
                      <th>Filters</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><li data-filter="*" class="filter-active">All</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-cgc">CGC-100 Compact Gas Chromatograph </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-g500">GAS5000 System Gas Chromatograph </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-gc71">GC7100 General-purpose gas chromatograph </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-pid">GAS5000HPIDPR Plasma Ionization Detector </li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-cg">Capillary Gas Chromatograph GC Labostage</li></td>
                    </tr>
                    <tr>
                      <td><li data-filter=".filter-tra">TRA-1 Trace Reduction Gas Analyzer </li></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
      
              <div class="row gy-4 portfolio-container" id="two" data-aos="fade-up" data-aos-delay="200"> 
      
                <div class="col-md-12  portfolio-item filter-cgc">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/purpose/cgc001_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>CGC-100 Compact Gas Chromatograph </h3>
                        <p>This space-saving gas chromatograph is specialized for a single analysis with limited functions.
                            Ideal for routine analysis, experiments, and research!
                            The easy-to-read LCD panel allows for simple operation and allows for complex analysis.
                        </p>
                           <li> This is a small, single-purpose instrument dedicated to TCD or FID, and is a gas chromatograph dedicated to packed columns.
                        </li>
                        <li>    It is compact for a general-purpose machine, and has a particularly slim design with a device width of just 300 mm.
                        </li>
                        <li>     You can choose whether or not to have an injection port, and if you choose to have one without one, it can be used as a system by docking a gas sampler, etc.
                        </li>
                        <li>     This gas chromatograph is ideal for dedicated use, routine work, and research.
                        </li>
                        <li>     We have pursued durability of the device by adopting an analog flow control method and proven technology.
                        </li>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                  </div>
                </div>
                </div>
      
                <div class="col-md-12  portfolio-item filter-g500">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/purpose/gas5000_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>GAS5000 System Gas Chromatograph </h3>
                          <p>A high-performance gas chromatograph that further improves the operability and durability that were characteristic of the GAS1000 series</p>

                            <li><strong>Space-saving gas chromatograph</strong></li>
                                <p> By integrating the gas chromatograph and sampling system, it is possible to install it in a small space and minimize the complicated piping and wiring, etc. Also, depending on the installation space and the specifications of the analysis system, it is possible to use a separate system.</p>

                            <li><strong>Pursuit of operability</strong></li>
                                <p>This is a high-performance gas chromatograph system with an emphasis on operability and productivity, and is durable and easy to maintain, unlike anything that has been seen before. Even operators with no prior experience can comfortably perform complex analyses.</p>

                            <li><strong>Wide range of system configurations</strong></li>
                            <p>There are three types of sampling systems to choose from: manual, automatic, and sequencer types. In addition, the automatic and sequencer types allow easy program changes from a PC. The sequencer type allows for standalone automatic operation of the main unit, allowing use with a wide range of data processing systems.</p>
                            
                            
                            

                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12  portfolio-item filter-gc71">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/purpose/gc7100_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>GC7100 General-purpose gas chromatograph </h3>
                          <p>This is a small general-purpose gas chromatograph.</p>
                          <li>Although it is a small general-purpose machine, it can be equipped with both TCD and FID at the same time.</li>
                          <li>The column thermostatic chamber has a sliding bottom, which makes the temperature distribution of the chamber more uniform.</li>
                          <li>Can be equipped with non-radioactive ECDs that do not require legal procedures</li>
                          <li>FID, TCD, NPD, FPD, ECD detectors can be installed</li>
                          <li>By installing a capillary column kit, analysis with capillary columns and wide-bore columns is also possible.</li>
                          <li>Suitable for applications such as gas samplers, liquid autosamplers, and headspace samplers</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                    </div>
                  </div>
      
                <div class="col-md-12  portfolio-item filter-pid">
                  <div class="card">
                  <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                      <img src="../../assets/img/purpose/gas5000hpid_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                      <div>
                        <h3>GAS5000HPIDPR Plasma Ionization Detector </h3>
                        <p>This is a gas chromatograph equipped with a GAS5000HPID® plasma detector.
                            
                            The helium plasma ionization detector (HPID) is a highly sensitive detector that uses an extremely stable direct current discharge helium plasma as the ionization source.
                            
                            Helium has the highest excitation energy of all elements, and can ionize and detect all samples except neon with high sensitivity.</p>
                            <li><strong>A detector with over 1,000 times the sensitivity of a TCD detector</strong></li>
                            <p>Capable of measuring hydrogen, oxygen, nitrogen, methane, carbon monoxide, and carbon dioxide at sub-ppm levels</p>
                            <li><strong>A detector with 10 times higher sensitivity than an FID detector</strong></li>
                            <p>Hydrocarbons can be measured with higher sensitivity than FID without using detector gases such as combustion hydrogen or supporting air.</p>
                      </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <a [routerLink]="['/contact']" >
                            <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                Get Qoute
                            </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                <div class="col-md-12  portfolio-item filter-cg">
                  <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/purpose/gclabo_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 290px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>Capillary Gas Chromatograph GC Labostage</h3>
                          <p>GC Labostage
                            Pursuit of operability, reliable technology
                            
                            Capillary gas chromatograph
                            
                            </p>
                            <li>Improved productivity through the installation of a high-performance column thermostat with excellent cooling performance</li>
                            <li>Electronic flow control improves analytical accuracy</li>
                            <li>Supports a wide range of analyses from capillary columns to packed columns</li>
                            <li>Meet a wide range of analytical needs by combining multiple detectors</li>
                            <li>Gas saver function significantly reduces running costs</li>
                            <li>The FID detector is equipped with a flame extinction detection function as a standard safety feature.</li>
                            <li>Analysis conditions can be set from a PC</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
      
      

                  <div class="col-md-12  portfolio-item filter-tra">
                    <div class="card">
                    <div class="row">
                      <div class="col-md-4 d-flex align-items-center">
                        <img src="../../assets/img/purpose/tra1_p.jpg" class="img-fluid" alt="CAAQMS" style="max-width: 300px; height: auto;">
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div>
                          <h3>TRA-1 Trace reduction gas analyzer </h3>
                          <p>This device is a gas analyzer that uses the reduction reaction of reducing gas to detect trace amounts of reducing gas components with high sensitivity. It optically detects mercury vapor generated by the reaction of mercury oxide with reducing gas. HgO
                            +H 2 →Hg gas+H 2 O
                            HgO+CO→Hg gas+CO 2This
                            analyzer is ideal for measuring reducing impurity gases in high purity gases and trace amounts of reducing gas in the atmosphere.
                            It is now possible to detect hydrogen at the ppb level, which could not be measured using conventional methods due to poor detection sensitivity.
                            In addition, by using this analyzer, it is possible to measure trace amounts of CO components with higher sensitivity by preparing only carrier gas, which was previously measured using FID using the methane conversion method.</p>
                            <li>Capable of measuring h3 and CO at ppb levels</li>
                            <li>Built-in automatic sampling valve enables automatic measurement and linkage with sample pretreatment device</li>
                            <li>Built-in pre-cut function ensures reliable atmospheric measurement (pre-cut function can be specified)</li>
                            <li>Small and lightweight, it does not take up much space and is easy to move.</li>
                            <li>Gas analysis possible with only power supply and carrier gas</li>
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                          <a [routerLink]="['/contact']" >
                              <button class="btn" style="border-radius: 20px; border-color: blueviolet ;  " >
                                  Get Qoute
                              </button>
                          </a>
                        </div>
                        </div>
                    </div>
                  </div> 
       
      
      
                 
      
                
      
              </div><!-- End Projects Container -->
      
            </div>
           
            
  
  
           
  
  
            
  
          
      </div>
    </section><!-- End Our Projects Section -->
  
  </main><!-- End #main -->